<h1> This is the share index page </h1>
<%if @c.shares.blank? %>
<%= "This company has no shares" %>
<%else%>
<% @c.shares.each do |s| %>
<%="Notional Price: #{s.price}"%> <br>
<%="Preference Share? #{s.preference}"%><br>
<%="Pays a Dividend? #{s.dividend}"%><br>
<%="Listed on : #{s.stock_exchange.name}"%> <br>
<%=link_to "Edit Share details", edit_company_share_path(@c.id,s.id)%> <br>
<%end%>
<%end%>


