<h1> Results </h1>
<h3> Search Results </h3>
<br> 
<div class="container-fluid">
<%if !@shares.blank?%>
<% @shares.each do |s|%>
<%=s.price%>
<%=s.company.name%>
<%=s.stock_exchange.name%>
<br>
<%end%>
<div> 
<%else%>
<%="No Shares listed at that price "%>
</div> 
<%end%>
<br>
<div>

<%if !@address.blank?%>
<%@address.each do |company|%>
<ul>
<li><%=company.name%> 
<%=company.address%>
</ul>
<br>
<%end%>
<%else%>
<%= "No Companys are listed within that address"%>
<%end%>
</div>
