<h1> Sign-up </h1> 
<h1> Please fill in the below to gain access to the Shares Tracker </h1>
<%=form_for @c do |f| %>
<%=f.label :Company_name %>
<%=f.text_field :name %> <br> 
<%=f.label :password %>
<%=f.password_field :password %><br> 
<%=f.label :password_confirmation %>
<%=f.password_field :password_confirmation %><br> 
<%=f.label :address %>
<%=f.text_field :address %> <br>
<%=f.label :description %>
<%=f.text_area :description %> <br> 
<%=f.label :industry %>
<%=f.select :industry, ['Tech', 'Banking', 'Car', 'Conglomorate', 'Pharma'] %>

<%=f.fields_for :shares do |s| %>
    <%=s.label :price%>
    <%=s.text_field :price%>
    <%=s.label :dividend%>
    <%=s.select :dividend, ['Yes','No']%>
    <%=s.label :preference_share%>
    <%=s.select :preference, ['Yes', 'No']%> 
    <%=s.collection_select :stock_exchange_id, StockExchange.all, :id, :name %>
    <%end%>
<%=f.submit "Sign-up"%>
<%end%>


<div class="field_with_errors">
<%if @c.errors.any?%> 
<%=@c.errors.full_messages.each do |error|%>
<%= puts error %><br>
<%end%>
<%end%>
</div>




